.app {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    &__flex {
        display: flex;
        justify-content: center;
    }
    &__heading {
        font-size: 150px;
        color: white;
        background-color: rgba(26, 25, 25, 0.25);
        display: inline;
        border-radius: 50px;
        margin-top: 20px;
    }
    &__boxes {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}