.app {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    &__flex {
        display: flex;
        justify-content: center;
    }
    &__heading {
        font-size: 150px;
        color: white;
        backdrop-filter: contrast(.7);
        display: inline;
        border-radius: 50px;
    }
}